<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MM Studio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/pic and vid/Musik.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./css/contact.css" />
  <link rel="stylesheet" href="./css/about.css" />

</head>

<body class="body">
  <div class="main">
    <div class="page-1">
      <div class="background">
        <img src="/pic and vid/DSC00057.JPG" alt="" sizes="(max-width: 600px) 400px, 
       (max-width: 1200px) 800px, 
       1200px" alt="Optimized image" />
      </div>
      <div class="navbar">
        <div class="l-side">
          <img src="/pic and vid/MM Logo12.png" alt="" sizes="(max-width: 600px) 400px, 
            (max-width: 1200px) 800px, 
            1200px" />
        </div>
        <div class="r-side">
          <a href="/home"><button>Home</button></a>
          <a href="/work"><button>Work</button></a>

          <a href="/about"><button>About Us</button></a>
          <a href="/contact"><button>Contact Us</button></a>
        </div>
      </div>
      <div class="txt">
        <p>About Us</p>
      </div>
    </div>
  </div>
  <section class="about-us">
    <div class="about">
      <img src="/pic and vid/Screenshot 2024-09-28 211819.png" class="pic" />
      <div class="text">
        <h2>Who is Mohit Chowdhury?</h2>
        <h5>Music Director</span></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas,
          veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet
          corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur
          consectetur, eos provident necessitatibus reiciendis corrupti!</p>
      </div>
    </div>
  </section>
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>Who is Mohit Chowdhury?</h2>
        <h5>Music Director</span></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas,
          veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet
          corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur
          consectetur, eos provident necessitatibus reiciendis corrupti!</p>
        </div>
        <img src="/pic and vid/Screenshot 2024-09-28 211819.png" class="pic" />
    </div>
  </section>
  <div class="page-6">
    <div class="p-left">
      <div class="re">
        <div class="reach">
          <h1>Reach Out Today</h1>
        </div>
        <div class="this-form">
          <p>
            Contact us through this form. We are help you with music needs and
            questions
          </p>
        </div>
      </div>
    </div>
    <div class="p-right">
      <div class="form-container">
        <h1>Contact Us</h1>
        <form action="/send-mail" method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>

          <label for="mobile">Mobile Number</label>
          <input type="text" id="mobile" name="mobile" required>

          <label for="message">Message</label>
          <textarea id="message" name="message" rows="5" required></textarea>

          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <div class="blackbar"></div>
  </footer>
  </div>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script src="/js/work.js"></script>
</body>

</html>