<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MM Studio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="/pic and vid/Musik.png" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/home.css" />
</head>

<body class="body">
  <div class="main">
    <!-- page1 -->
    <div class="page-1">
      <div class="background">
        <img src="/pic and vid/DSC00062.JPG" alt="" sizes="(max-width: 600px) 400px, 
            (max-width: 1200px) 800px, 
            1200px" />
      </div>
      <div class="navbar">
        <div class="l-side">
          <img src="/pic and vid/MM Logo12.png" alt="" sizes="(max-width: 600px) 400px, 
              (max-width: 1200px) 800px, 
              1200px" />
        </div>
        <div class="r-side">
          <a href="/home"><button>Home</button></a>
          <a href="/work"><button>Work</button></a>
          <a href="/about"><button>About Us</button></a>
          <a href="/contact"><button>Contact Us</button></a>
        </div>
      </div>
      <div class="txt">
        <p>Create Your Musical Journey</p>
      </div>
      <div class="txt-2">
        <p>
          Discover how our studio helps bring your music to life. Learn,
          record, <br />
          and grow with us in Mumbai.
        </p>
      </div>
      <!-- <button id="get-started">Get Started</button> -->
    </div>
    <!-- page2 -->
    <div class="page-2">
      <div class="moving-text">
        <div class="con">
          <h1>MUSIC</h1>
          <div class="gola"></div>
          <h1>MIXING</h1>
          <div class="gola"></div>
          <h1>MASTERING</h1>
          <div class="gola"></div>
        </div>
        <div class="con">
          <h1>MUSIC</h1>
          <div class="gola"></div>
          <h1>MIXING</h1>
          <div class="gola"></div>
          <h1>MASTERING</h1>
          <div class="gola"></div>
        </div>
        <div class="con">
          <h1>MUSIC</h1>
          <div class="gola"></div>
          <h1>MIXING</h1>
          <div class="gola"></div>
          <h1>MASTERING</h1>
          <div class="gola"></div>
        </div>
      </div>
    </div>
    <!-- page-3 -->
    <div class="page-3">
      <div class="core">
        <p>Core Packages</p>
      </div>
      <div class="the-three-images">
        <div class="image1">
          <img src="/pic and vid/DSC00066.JPG" alt="" sizes="(max-width: 600px) 400px, 
              (max-width: 1200px) 800px, 
              1200px" />
          <div class="img-txt">
            <h1>Audio Recording</h1>
            <p>
              "Record your hits in our professional studio—where creativity meets quality for exceptional song recording
              experiences."
            </p>
          </div>
        </div>
        <div class="image1">
          <img src="/pic and vid/DSC00060.JPG" alt="" sizes="(max-width: 600px) 400px, 
              (max-width: 1200px) 800px, 
              1200px" />
          <div class="img-txt">
            <h1>Audio Mixing</h1>
            <p>
              "Experience top-tier audio mixing in our studio—where your music achieves the perfect balance and
              clarity."
            </p>
          </div>
        </div>
        <div class="image1">
          <img src="/pic and vid/DSC00068.JPG" alt="" sizes="(max-width: 600px) 400px, 
              (max-width: 1200px) 800px, 
              1200px" />
          <div class="img-txt">
            <h1>Music Composing</h1>
            <p>
              "Compose your next masterpiece in our studio—where creativity flourishes and your music comes to life."
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- page-4 -->
    <div class="page-4">
      <div class="left">
        <img src="/pic and vid/DSC00065.JPG" alt="" sizes="(max-width: 600px) 400px, 
            (max-width: 1200px) 800px, 
            1200px" />
      </div>
      <div class="right">
        <div class="r-txt-1">
          <h1>About Us</h1>
        </div>
        <div class="r-txt-2">
          <p>
            At our music studio in Mumbai, we believe in the power of
            creativity. We started with a simple idea: to give everyone a
            chance to express themselves through music.
          </p>
        </div>
        <div class="r-txt-3">
          <p>
            Our team is made up of passionate individuals who love to teach
            and inspire. Wheather you are a beginner or a seasoned musician,
            we are here to help you achive your musical dreams.
          </p>
        </div>
      </div>
    </div>
    <!-- page10 -->
    <div class="page-10">
      <div class="client-wrap">
        <h1>Our Clients</h1>
        <hr>
        <div class="client-in">
          <ul>
            <li>
              <img src="/pic and vid/1.png" alt="">
              <img src="/pic and vid/12.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/3.png" alt="">
              <img src="/pic and vid/2.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/file.png" alt="">
              <img src="/pic and vid/4.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/file (1).png" alt="">
              <img src="/pic and vid/6.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/9.png" alt="">
              <img src="/pic and vid/8.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/11.png" alt="">
              <img src="/pic and vid/10.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/1.png" alt="">
              <img src="/pic and vid/12.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/3.png" alt="">
              <img src="/pic and vid/2.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/file.png" alt="">
              <img src="/pic and vid/4.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/file (1).png" alt="">
              <img src="/pic and vid/6.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/9.png" alt="">
              <img src="/pic and vid/8.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/11.png" alt="">
              <img src="/pic and vid/10.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/1.png" alt="">
              <img src="/pic and vid/12.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/3.png" alt="">
              <img src="/pic and vid/2.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/file.png" alt="">
              <img src="/pic and vid/4.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/file (1).png" alt="">
              <img src="/pic and vid/6.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/9.png" alt="">
              <img src="/pic and vid/8.png" alt="">
            </li>
            <li>
              <img src="/pic and vid/11.png" alt="">
              <img src="/pic and vid/10.png" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- page11 -->
    <div class="page-11">
      <div id="page" class="site">
        <div class="container">
          <div class="testi">
            <div class="head">
              <h3>Testimonials</h3>
              <p>See what people are saying..</p>
            </div>
            <div class="bodies swiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div class="wrapper">
                    <div class="thumbnail">
                      <img src="/pic and vid/ashton-bingham-EQFtEzJGERg-unsplash.jpg" alt="">
                    </div>
                    <div class="aside">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis ex a harum explicabo
                        molestiae iste pariatur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
                        officiis ex a harum explicabo molestiae iste pariatur.</p>
                      <div class="name">
                        <h4>BMW</h4>
                        <p>Automobile Company</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="wrapper">
                    <div class="thumbnail">
                      <img src="/pic and vid/aiony-haust-3TLl_97HNJo-unsplash.jpg" alt="">
                    </div>
                    <div class="aside">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis ex a harum explicabo
                        molestiae iste pariatur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
                        officiis ex a harum explicabo molestiae iste pariatur.</p>
                      <div class="name">
                        <h4>BMW</h4>
                        <p>Automobile Company</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="wrapper">
                    <div class="thumbnail">
                      <img src="/pic and vid/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="">
                    </div>
                    <div class="aside">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis ex a harum explicabo
                        molestiae iste pariatur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
                        officiis ex a harum explicabo molestiae iste pariatur.</p>
                      <div class="name">
                        <h4>BMW</h4>
                        <p>Automobile Company</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="wrapper">
                    <div class="thumbnail">
                      <img src="/pic and vid/kirill-balobanov-2rIs8OH5ng0-unsplash.jpg" alt="">
                    </div>
                    <div class="aside">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis ex a harum explicabo
                        molestiae iste pariatur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
                        officiis ex a harum explicabo molestiae iste pariatur.</p>
                      <div class="name">
                        <h4>BMW</h4>
                        <p>Automobile Company</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="wrapper">
                    <div class="thumbnail">
                      <img src="/pic and vid/brooke-cagle-kvKSL7B6eTo-unsplash.jpg" alt="">
                    </div>
                    <div class="aside">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officiis ex a harum explicabo
                        molestiae iste pariatur.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus
                        officiis ex a harum explicabo molestiae iste pariatur.</p>
                      <div class="name">
                        <h4>BMW</h4>
                        <p>Automobile Company</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-5">
      <div class="glimps">
        <p>Glimps Of Our Work Space</p>
      </div>
      <div class="glim-container">
        <div class="glim-card">
          <img src="/pic and vid/DSC00066.JPG" alt="">
        </div>
        <div class="glim-card">
          <img src="/pic and vid/DSC00066.JPG" alt="">
        </div>
        <div class="glim-card">
          <img src="/pic and vid/DSC00066.JPG" alt="">
        </div>
        <div class="glim-card">
          <img src="/pic and vid/DSC00066.JPG" alt="">
        </div>
        <div class="glim-card">
          <img src="/pic and vid/DSC00066.JPG" alt="">
        </div>
        <div class="glim-card">
          <img src="/pic and vid/DSC00066.JPG" alt="">
        </div>
      </div>
    </div>
    <div class="page-7">
      <div class="pg7txt">
        <p>Discover Our Social Journey</p>
      </div>
      <div class="page-7main">
        <!-- insta -->
        <div class="insta">
          <div class="instaleft">
            <div class="instatop">
              <img src="/pic and vid/Instagram_icon.png.webp" alt="">
              <h1>Instagram</h1>
            </div>
            <div class="instabottom">
              <p>"Follow @mohitmusik and @mmstudiomohit on Instagram for exclusive music content and a glimpse into the
                creative process at the studio. Stay tuned for updates and new releases!"</p>
              <a href=""><button class="button">Follow Me</button>
              </a>
            </div>
          </div>
          <div class="instaright">
            <img src="/pic and vid/u123.png" alt="">
          </div>
        </div>
        <!-- youtube -->
        <div class="insta">
          <div class="instaleft">
            <div class="instatop">
              <img src="/pic and vid/Youtube_logo.png" alt="">
              <h1>Youtube</h1>
            </div>
            <div class="instabottom">
              <p>
                "Check out my YouTube channel for the latest music videos and studio sessions. Subscribe and hit the
                bell icon to stay updated with all my new releases!"</p>
              <a href=""><button class="button">Subscribe Me</button>
              </a>
            </div>
          </div>
          <div class="instaright">
            <img src="/pic and vid/ss.png" alt="">
          </div>
        </div>x
        <!-- facebook -->
        <div class="insta">
          <div class="instaleft">
            <div class="instatop">
              <img src="/pic and vid/Facebook_Logo_2023.png" alt="">
              <h1>Facebook</h1>
            </div>
            <div class="instabottom">
              <p>"Visit my Facebook page for exclusive music updates, live sessions, and behind-the-scenes content. Like
                and follow to stay connected with all my latest projects!"</p>
              <a href=""><button class="button">Follow Me</button>
              </a>
            </div>
          </div>
          <div class="instaright">
            <img src="/pic and vid/u123.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="page-6">
      <div class="p-left">
        <div class="re">
          <div class="reach">
            <h1>Reach Out Today</h1>
          </div>
          <div class="this-form">
            <p>
              Contact us through this form. We are help you with music needs and
              questions
            </p>
          </div>
        </div>
      </div>
      <div class="p-right">
        <div class="form-container">
          <h1>Contact Us</h1>
          <form action="/send-mail" method="POST" onsubmit="return validateForm()">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="mobile">Mobile Number</label>
            <input type="text" id="mobile" name="mobile" pattern="\d{10}" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>
            <button type="submit">Send Message</button>
          </form>

        </div>
      </div>
    </div>
    <footer>

      <div class="blackbar"></div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper', {
      autoHeight: true,
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script src="/js/home.js"></script>

</body>

</html>